* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li {
    font-family: "IM Fell English SC", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 38px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-family: "IM Fell English SC", sans-serif;
    font-size: 20px;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: flex-end;
}

header, nav, .logo, .logo img, a, li, h3, .nav_menu, i {
    background-color: #222222;
}

h3 {
    color: white;
}

.nav_menu {
    display: flex;
    align-items: center;
}

.nav_menu li {
    display: flex;
    align-items: center;
}

.nav_menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
}

.nav_menu a:hover {
    color: gray;
    transition: 0.2s ease;
}